server:
  port: 8090

spring:
  application:
    name: Book Service

  datasource:
    url: jdbc:postgresql://localhost:5432/books
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
